@using Fig.Web.Models.Setting
@using Fig.Contracts.Authentication
@using Fig.Web.ExtensionMethods
@using Markdig
@if (SettingClients == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-auto" style="max-width:80%">
                <RadzenListBox AllowFiltering="true" @bind-Value=@SelectedSettingClient FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                               TValue="SettingClientConfigurationModel" Data=@FilteredSettingClients TextProperty="DisplayName"
                               LoadData=@OnFilter
                               Class="w-100 p-3" style="height: 100%; min-height: calc(100vh - 120px)">
                    <Template>
                        <div class="d-flex">
                            <div class="p-1">
                                @if (!((SettingClientConfigurationModel)context).IsGroup)
                                {
                                    @if (((SettingClientConfigurationModel)context).CurrentRunSessions == 0)
                                    {
                                        <RadzenBadge Text="@(((SettingClientConfigurationModel)context).CurrentRunSessions.ToString())"
                                                     IsPill="true" BadgeStyle="BadgeStyle.Primary"/>
                                    }
                                    else if (((SettingClientConfigurationModel)context).AllRunSessionsRunningLatest)
                                    {
                                        <RadzenBadge Text="@(((SettingClientConfigurationModel)context).CurrentRunSessions.ToString())"
                                                     IsPill="true" BadgeStyle="BadgeStyle.Success"/>
                                    }
                                    else
                                    {
                                        <RadzenBadge Text="@(((SettingClientConfigurationModel)context).CurrentRunSessions.ToString())"
                                                     IsPill="true" BadgeStyle="BadgeStyle.Light" />
                                    }
                                }
                            </div>
                            <div class="flex-grow-1 p-1" data-test-id="@(((SettingClientConfigurationModel)context).DisplayName)">
                                @(((SettingClientConfigurationModel)context).DisplayName)
                            </div>
                            <div class="p-1">
                                @if (((SettingClientConfigurationModel)context).DirtySettingCount > 0)
                                {
                                    <RadzenBadge Text="@(((SettingClientConfigurationModel)context).DirtySettingCount.ToString())"
                                                 IsPill="true" BadgeStyle="BadgeStyle.Info"/>
                                }
                            </div>
                            <div class="p-1">
                                @if ((((SettingClientConfigurationModel)context).HasConfigurationError))
                                {
                                    <RadzenBadge Text="!" IsPill="true" BadgeStyle="BadgeStyle.Danger"/>
                                }
                            </div>
                        </div>

                    </Template>
                </RadzenListBox>

            </div>

            <div class="col">

                <div class="d-flex justify-content-end align-items-center">
                    <div class="p-2 flex-fill">
                        <RadzenTextBox Placeholder="Filter" @oninput=@(args => FilterSettings(args.Value?.ToString()))/>
                    </div>
                    <div class="d-flex align-items-center">
                        <label>Advanced</label>
                    </div>
                    <div class="pl-2 d-flex align-items-center">
                        <RadzenSwitch Change=@(ShowAdvancedChanged) Name="ToggleAdvanced"/>
                    </div>
                    <div class="pl-2">
                        <RadzenButton Click=@(args => SelectedSettingClient?.CollapseAll())
                                      Icon="unfold_less" Disabled=@IsClientSelected ButtonStyle="ButtonStyle.Warning"
                                      MouseEnter="@(args => ShowTooltip(args, "Collapse All"))"/>
                    </div>
                    <div class="pl-2">
                        <RadzenButton Click=@(args => SelectedSettingClient?.ExpandAll())
                                      Icon="unfold_more" Disabled=@IsClientSelected ButtonStyle="ButtonStyle.Warning"
                                      MouseEnter="@(args => ShowTooltip(args, "Expand All"))"/>
                    </div>
                    <div class="pl-2">
                        <RadzenButton Click=@(args => ShowDescription(SelectedSettingClient?.Name, SelectedSettingClient?.Description))
                                      Icon="description" Disabled=@IsClientSelected ButtonStyle="ButtonStyle.Warning"
                                      MouseEnter="@(args => ShowTooltip(args, "Client description"))"/>
                    </div>
                    <div class="pl-2">
                        <RadzenButton Click=@(args => OnSave()) Text="Save" Icon="save" BusyText="Saving..."
                                      IsBusy=@_isSaveInProgress Disabled=@IsSaveDisabled ButtonStyle="ButtonStyle.Success"/>
                    </div>
                    <div class="pl-2">
                        <RadzenButton Click=@(args => OnSaveAll()) Text="Save All" Icon="backup_table" BusyText="Saving..."
                                      IsBusy=@_isSaveAllInProgress Disabled=@IsSaveAllDisabled ButtonStyle="ButtonStyle.Success"/>
                    </div>
                    <div class="pl-2">
                        <RadzenButton Click=@(args => OnAddInstance()) Icon="add_circle_outline"
                                      Disabled=@IsInstanceDisabled ButtonStyle="ButtonStyle.Secondary"
                                      MouseEnter="@(args => ShowTooltip(args, "Create Instance"))"/>
                    </div>
                    @if (AccountService?.AuthenticatedUser?.Role == Role.Administrator)
                    {
                        <div class="pl-2">
                            <RadzenButton Click=@(args => OnChangeSecret()) Icon="change_circle"
                                          Disabled=@IsClientSecretChangeDisabled ButtonStyle="ButtonStyle.Danger"
                                          MouseEnter="@(args => ShowTooltip(args, "Change client secret"))"/>
                        </div>
                        <div class="pl-2">
                            <RadzenButton Click=@(args => OnDelete()) Icon="delete" BusyText="Deleting..."
                                          IsBusy=@_isDeleteInProgress Disabled=@IsDeleteDisabled ButtonStyle="ButtonStyle.Danger"
                                          MouseEnter="@(args => ShowTooltip(args, "Delete Client"))"/>
                        </div>
                    }

                    
                </div>

                @if (SelectedSettingClient != null)
                {
                    if (!SelectedSettingClient.IsGroup)
                    {
                        <div class="d-flex">
                            <div class="p-1">
                                @if (SelectedSettingClient.CurrentRunSessions == 0)
                                {
                                    <RadzenBadge Text="@(SelectedSettingClient.CurrentRunSessions.ToString())"
                                                 IsPill="true" BadgeStyle="BadgeStyle.Primary"/>
                                }
                                else if (SelectedSettingClient.AllRunSessionsRunningLatest)

        {
                                    <RadzenBadge Text="@(SelectedSettingClient.CurrentRunSessions.ToString())"
                                                 IsPill="true" BadgeStyle="BadgeStyle.Success"/>
                                }
                                else
                                {
                                    <RadzenBadge Text="@(SelectedSettingClient.CurrentRunSessions.ToString())"
                                                 IsPill="true" BadgeStyle="BadgeStyle.Light" />
                                }
                            </div>
                            <div class="p-1">
                                online client(s). @(SelectedSettingClient.AllRunSessionsRunningLatest ? "All running latest settings." : "Running outdated settings.") @(SelectedSettingClient?.Settings.Count) setting(s) (@(SelectedSettingClient?.Settings.Count(a => a.Advanced)) advanced).
                            </div>
                            @if (SelectedSettingClient?.DirtySettingCount > 0)
                            {
                                <div class="p-1">
                                    <RadzenBadge Text="@(SelectedSettingClient?.DirtySettingCount.ToString())"
                                                 IsPill="true" BadgeStyle="BadgeStyle.Info"/>
                                </div>
                                <div class="p-1">
                                    unsaved change(s).
                                </div>
                            }

                            @if (SelectedSettingClient?.HasConfigurationError == true)
                            {
                                <div class="p-1">
                                    Configuration error(s) see event log for details.
                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        <div class="d-flex">
                            <div class="p-1">
                                Setting Group. @(SelectedSettingClient?.Settings.Count) setting(s) (@(SelectedSettingClient?.Settings.Count(a => a.Advanced)) advanced).
                            </div>
                            @if (SelectedSettingClient?.DirtySettingCount > 0)
                            {
                                <div class="p-1">
                                    <RadzenBadge Text="@(SelectedSettingClient?.DirtySettingCount.ToString())"
                                                 IsPill="true" BadgeStyle="BadgeStyle.Success"/>
                                </div>
                                <div class="p-1">
                                    unsaved change(s).
                                </div>
                            }

                            @if (SelectedSettingClient?.HasConfigurationError == true)
                            {
                                <div class="p-1">
                                    Configuration error(s) see event log for details.
                                </div>
                            }
                        </div>
                    }
                    
                    @if (SelectedSettingClient is not null)
                    {
                        @foreach (var setting in SelectedSettingClient.Settings.OrderBy(a => a.DisplayOrder))
                        {
                            <SettingCard Setting="@setting"/>
                        }

                        @foreach (var verification in SelectedSettingClient.Verifications.OrderBy(a => a.Name))
                        {
                            <VerificationCard Verification="@verification"/>
                        }
                    }
                }
            </div>
        </div>
    </div>
}

@code {

    [Inject]
    private TooltipService TooltipService { get; set; } = null!;

    async Task<bool> GetDeleteConfirmation(string clientName)
    {
        return await DialogService.OpenAsync("Confirm Delete", ds =>
            @<div>
                <p class="mb-4">Are you sure you want to delete @clientName?</p>
                <p class="mb-4">Once a client is deleted it will not longer be able to get settings</p>
                <p class="mb-4">This action cannot be reversed.</p>
                <div class="row">
                    <div class="col">
                        <RadzenButton Text="No" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1"/>
                        <RadzenButton Text="Yes" Click="() => ds.Close(true)" Class="mr-1" Style="width: 80px;"/>
                    </div>
                </div>
            </div>);
    }

    async Task ShowDescription(string? clientName, string? description)
    {
        if (clientName is null || description is null)
            return;

        await DialogService.OpenAsync($"Description for {clientName}", ds =>
            @<div>
                @((MarkupString)description.ToHtml())
            </div>,
            new DialogOptions
            {
                Height = "90%",
                Width = "90%"
            });
    }

    async Task<bool> GetInstanceName(string clientName)
    {
        return await DialogService.OpenAsync("Name Instance", ds =>
            @<div>
                <p>Provide a name for the instance for @clientName.</p>
                <p class="mb-2">The name must match the instance provided by the requesting client.</p>
                <div class="row">
                    <RadzenTextBox @bind-Value="@_instanceName" Class="w-100 m-3"/>
                </div>
                <div class="row">
                    <div class="col">
                        <RadzenButton Text="Create Instance" Click="() => ds.Close(true)" Class="mr-1"/>
                        <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1"/>
                    </div>
                </div>
            </div>);
    }

    async Task<bool> AskUserForChangeMessage(List<ChangeModel> changeModels)
    {
        return await DialogService.OpenAsync($"[{WebSettings.Value.Environment}] Save Changes", ds =>
            @<div>
                <div class="row">
                    <p>The following @changeModels.Count changes will be saved:</p>
                </div>
                
                <div class="d-flex flex-row">
                        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                        Data="@changeModels" TItem="ChangeModel" LogicalFilterOperator="LogicalFilterOperator.Or" AllowColumnPicking="false">
                            <Columns>
                                <Radzen.Blazor.RadzenDataGridColumn TItem="ChangeModel" Property="ClientName" Filterable="true" Title="Client" TextAlign="TextAlign.Left" SortOrder="SortOrder.Descending"/>
                                <Radzen.Blazor.RadzenDataGridColumn TItem="ChangeModel" Property="SettingName" Filterable="true" Title="Setting" TextAlign="TextAlign.Left"/>
                                <Radzen.Blazor.RadzenDataGridColumn TItem="ChangeModel" Property="NewValue"  Title="New Value" TextAlign="TextAlign.Left"/>
                                <Radzen.Blazor.RadzenDataGridColumn TItem="ChangeModel" Property="RunSessionsToBeUpdated"  Title="Live Reload Clients" TextAlign="TextAlign.Left"/>
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                <div class="row">
                    <p style="margin-bottom: 1px; margin-top: 20px">Optional message describing the change.</p>
                </div>
                <div class="row">
                    <RadzenTextArea @bind-Value="@_changeMessage" Rows="3" Class="w-100 m-3"/>
                </div>
                <div class="row">
                    <div class="col">
                        <RadzenButton Text="Save" Click="() => ds.Close(true)" Class="mr-1"/>
                        <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1"/>
                    </div>
                </div>
            </div>);
    }

    async Task PerformSecretChange(string clientName)
    {
        await DialogService.OpenAsync<ClientSecretChange>($"Change client secret for {clientName}",
            new Dictionary<string, object>() { { "ClientName", clientName } },
            new DialogOptions() { Resizable = true, Draggable = true });
    }

    private void ShowTooltip(ElementReference elementReference, string tooltipText)
    {
        var style = "background-color: black";
        TooltipService.Open(elementReference, tooltipText, new TooltipOptions
        {
            Style = style,
            Position = TooltipPosition.Bottom,
            Duration = 6000
        });
    }
}