@using Fig.Web.Models.Setting
@using Fig.Web.Models.Setting.ConfigurationModels
@using Fig.Web.Models.Setting.ConfigurationModels.DataGrid
@using Fig.Web.Pages.Setting.SettingEditors.Json

@if (Setting.IsCompactView)
{
    <div class="transition-visible @(Setting.Hidden ? "transition-collapsed" : "show") @(Setting.ShouldAnimateVisibilityChanges ? "" : "no-animation")" 
         style="@GetIndentStyle()"
         @onmouseover="ShowExpandIcon" @onmouseout="HideExpandIcon">
        <RadzenCard class="position-relative custom-card compact-view" style="@GetCompactViewStyle()">
            <div class="colored-line" @ref="_compactCategoryLine" 
                 style="background-color: @Setting.CategoryColor">
            </div>
            
            <div class="expand-collapse-icon @(_showExpandIcon && Setting.IsCompactView ? "visible" : "hidden")" 
                 @onclick="@(ToggleSettingCompactView)" @onclick:stopPropagation="true">
                <RadzenIcon Icon="unfold_more" />
            </div>

            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center flex-grow-1">
                    <div class="setting-name-container">
                        <h3 class="compact-heading" 
                            style="margin-left: 25px; color:@(Setting.IsValid ? "rgba(255,255,255,0.9)" : "#ff4444")">
                            <span class="d-flex align-items-center">
                                @if (Setting.DisplayName.Contains("->"))
                                {
                                    var tokens = Setting.DisplayName.Split("->");
                                    <div class="setting-path">
                                        <span class="setting-name">
                                            @tokens.Last()
                                            @if (Setting.MatchesBaseValue.HasValue)
                                            {
                                                @if (Setting.MatchesBaseValue.Value)
                                                {
                                                    <RadzenIcon Icon="sync" IconStyle="IconStyle.Success" Style="font-size: 0.7em; margin-left: 4px"
                                                                MouseEnter="@(args => ShowTooltip(args, "Matches parent setting value"))" />
                                                }
                                                else
                                                {
                                                    <RadzenIcon Icon="sync_problem" IconStyle="IconStyle.Warning" Style="font-size: 0.7em; margin-left: 4px"
                                                                MouseEnter="@(args => ShowTooltip(args, "Different from parent setting value"))" />
                                                }
                                            }
                                        </span>
                                        <span class="setting-parent">@string.Join("->", tokens.Take(tokens.Length - 1))</span>
                                    </div>
                                }
                                else
                                {
                                    @Setting.DisplayName
                                }
                                <SettingIcons Setting="@Setting" FontSize="1.0" ShowTooltip="@HandleTooltipRequest" />
                            </span>
                        </h3>
                    </div>
                    <div class="setting-value-container" style="font-weight:@(Setting.IsDirty ? "500" : "normal"); 
                                     color:@(Setting.IsValid ? "rgba(255,255,255,0.8)" : "#ff4444")
                                    text-overflow: ellipsis; overflow: hidden; 
                                    white-space: pre-wrap; word-wrap: break-word;">
                            @((MarkupString)Setting.GetStringValue())
                    </div>
                </div>
                <div class="compact-modified-badge-slot @(!Setting.IsDirty ? "badge-invisible" : "")">
                    <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Modified"
                                 MouseEnter="@(args => ShowTooltip(args, "This setting has unsaved changes"))" />
                </div>
            </div>
        </RadzenCard>
    </div>
}
else
{
    <div class="transition-visible @(Setting.Hidden ? "transition-collapsed" : "show") @(Setting.ShouldAnimateVisibilityChanges ? "" : "no-animation")" 
         style="@GetIndentStyle()"
         id="@($"{Setting.Parent.Name}-{Setting.Parent.Instance}-{Setting.Name}")"
         @onmouseover="ShowExpandIcon" @onmouseout="HideExpandIcon">
        <RadzenCard class="position-relative custom-card">
            <div class="colored-line" @ref="_categoryLine"
                 style="background-color: @Setting.CategoryColor"></div>
            
            <div class="expand-collapse-icon @(_showExpandIcon && !Setting.IsCompactView ? "visible" : "hidden")" 
                 @onclick="@(ToggleSettingCompactView)" @onclick:stopPropagation="true">
                <RadzenIcon Icon="unfold_less" />
            </div>
            
            <div class="d-flex align-items-center justify-content-between card-content">
                <!-- Left side: Title, Icons, Description -->
                <div class="d-flex flex-column flex-grow-1 pr-2 mb-1">
                    <h3 class="mb-1">
                        <span class="d-flex align-items-center">
                            @if (Setting.DisplayName.Contains("->"))
                            {
                                var tokens = Setting.DisplayName.Split("->");
                                <div class="setting-path">
                                    <span class="setting-parent">@string.Join("->", tokens.Take(tokens.Length - 1))</span>
                                    <span class="setting-name d-flex align-items-center">
                                        @tokens.Last()
                                        <SettingIcons Setting="@Setting" FontSize="0.7" ShowTooltip="@HandleTooltipRequest" />
                                    </span>
                                </div>
                            }
                            else
                            {
                                <span>@Setting.DisplayName</span>
                                <SettingIcons Setting="@Setting" FontSize="1.0" ShowTooltip="@HandleTooltipRequest" />
                            }
                        </span>
                    </h3>
                    <!-- Description under the H3 title -->
                    <div class="description-text">
                        @(Setting.Description)
                    </div>
                </div>
                <!-- Right side: Three buttons aligned with the H3 heading -->
                <div class="d-flex flex-column pt-3 pb-1">
                    <div class="d-flex justify-content-end">
                        <!-- Externally Managed Button -->
                        <div class="px-1 @(!Setting.IsExternallyManaged || Setting.IsGroupManaged || IsReadOnlyUser ? "collapse" : "")">
                            <RadzenButton Click="@(() => UnlockSetting(Setting))" Icon="@(Setting.IsReadOnly ? "lock" : "lock_open")"
                                          ButtonStyle="@(Setting.IsReadOnly ? ButtonStyle.Danger : ButtonStyle.Secondary)" 
                                          MouseEnter="@(args => ShowTooltip(args, "Externally managed setting"))" />
                        </div>
                        @if (Setting.MatchesBaseValue is not null)
                        {
                            <!-- Push Changes Up Button -->
                            <div class="px-1">
                                <RadzenButton Click="@(() => Setting.PushValueToBase())" Disabled="@(Setting.MatchesBaseValue != false)" Icon="upload_2"
                                              ButtonStyle="ButtonStyle.Secondary" MouseEnter="@(args => ShowTooltip(args, "Push Value to Base"))" />
                            </div>
                            <!-- Pull Changes Down Button -->
                            <div class="px-1">
                                <RadzenButton Click="@(() => Setting.PullValueFromBase())" Disabled="@(Setting.MatchesBaseValue != false)" Icon="download_2"
                                              ButtonStyle="ButtonStyle.Secondary" MouseEnter="@(args => ShowTooltip(args, "Pull Value from Base"))" />
                            </div>
                        }
                        @if (Setting.IsBaseSetting)
                        {
                            <!-- Push Changes Down to All Button -->
                            <div class="px-1">
                                <RadzenButton Click="@(() => Setting.PushValueToInstances())" Icon="arrow_circle_down"
                                              ButtonStyle="ButtonStyle.Secondary" MouseEnter="@(args => ShowTooltip(args, "Push Value to all instances"))" />
                            </div>
                        }
                        
                        <!-- Undo Changes Button -->
                        <div class="px-1 @(Setting.IsGroupManaged || IsReadOnlyUser ? "collapse" : "")">
                            <RadzenButton Click="@(() => Setting.UndoChanges())" Disabled="@Setting.IsNotDirty" Icon="restart_alt"
                                          ButtonStyle="ButtonStyle.Warning" MouseEnter="@(args => ShowTooltip(args, "Undo unsaved changes"))" />
                        </div>
                        <!-- Reset to Default Button -->
                        <div class="px-1 @(Setting.IsGroupManaged || IsReadOnlyUser ? "collapse" : "")">
                            <RadzenButton Click="@(() => Setting.ResetToDefault())" Disabled="@Setting.ResetToDefaultDisabled" Icon="settings_backup_restore"
                                          ButtonStyle="ButtonStyle.Warning" MouseEnter="@(args => ShowTooltip(args, "Reset to default value"))" />
                        </div>
                        <!-- Show History Button -->
                        <div class="px-1 pr-1">
                            <RadzenButton Click="@(() => Setting.ShowHistory())" Icon="history" ButtonStyle="ButtonStyle.Light"
                                          MouseEnter="@(args => ShowTooltip(args, "Toggle setting history details"))" />
                        </div>
                    </div>
                    <!-- Modified Badge (displayed below buttons) -->
                    <div class="@(!Setting.IsDirty ? "collapse" : "") mt-1">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Modified" class="position-absolute top-0 end-0 m-1"
                                     MouseEnter="@(args => ShowTooltip(args, "This setting has unsaved changes"))" />
                    </div>
                </div>
            </div>
            <div class="d-flex" style="margin-left: 15px">
                @if (Setting is StringSettingConfigurationModel stringSetting)
                {
                    <StringSetting Setting="@stringSetting"/>
                }
                else if (Setting is IntSettingConfigurationModel intSetting)
                {
                    <IntSetting Setting="@intSetting"/>
                }
                else if (Setting is DoubleSettingConfigurationModel doubleSetting)
                {
                    <DoubleSetting Setting="@doubleSetting"/>
                }
                else if (Setting is LongSettingConfigurationModel longSetting)
                {
                    <LongSetting Setting="@longSetting"/>
                }
                else if (Setting is BoolSettingConfigurationModel boolSetting)
                {
                    <BoolSetting Setting="@boolSetting"/>
                }
                else if (Setting is DropDownSettingConfigurationModel dropDownSetting)
                {
                    <DropDownSetting Setting="@dropDownSetting"/>
                }
                else if (Setting is DataGridSettingConfigurationModel dataGridSetting)
                {
                    <DataGridSetting Setting="@dataGridSetting"/>
                }
                else if (Setting is DateTimeSettingConfigurationModel dateTimeSetting)
                {
                    <DateTimeSetting Setting="@dateTimeSetting"/>
                }
                else if (Setting is TimeSpanSettingConfigurationModel timeSpanSetting)
                {
                    <TimeSpanSetting Setting="@timeSpanSetting"/>
                }
                else if (Setting is JsonSettingConfigurationModel jsonSetting)
                {
                    <JsonSetting Setting="@jsonSetting"/>
                }
            </div>
            <div class="p-1 @(Setting.IsGroupManaged ? "" : "collapse")" style="margin-left: 15px">
                <p class="description-text">This setting is managed by <a href="" @onclick="@(() => Setting.RequestSettingClientIsShown(Setting.Group))" @onclick:preventDefault>@Setting.Group</a></p>
            </div>
            <div class="p-1 @(Setting.Parent.IsGroup ? "" : "collapse")">
                <p class="description-text" style="margin-left: 15px">This setting sets the value for 
                    <a href="" @onclick="@ToggleClientListVisibility" class="description-text" @onclick:preventDefault>
                        @(Setting.GroupManagedSettings?.Count ?? 0) client@(Setting.GroupManagedSettings?.Count == 1 ? "" : "s")
                    </a>
                </p>
                
                <div class="transition-visible @(_isGroupManagedSettingVisible ? "show" : "collapse")">
                    <ul class="client-list">
                        @foreach (var groupManagedSetting in Setting.GroupManagedSettings ?? new List<ISetting>())
                        {
                            <li>
                                <a href="" class="description-text" @onclick="@(() => Setting.RequestSettingClientIsShown(groupManagedSetting.Parent.Name))" @onclick:preventDefault>
                                    @groupManagedSetting.Parent.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="p-1 transition-visible @(Setting.IsHistoryVisible ? "show" : "collapse")">
                <hr/>
                <h3>History</h3>
                <div class="@(Setting.Parent.IsGroup ? "collapse" : "")">
                    <RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="3" AllowPaging="true"
                                    Data="@Setting.History" TItem="SettingHistoryModel" ColumnWidth="300px">
                        <Columns>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="SettingHistoryModel" Property="DateTime" Title="DateTime" Frozen="true" Width="100px"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="SettingHistoryModel" Property="Value" Title="Value" Frozen="true" Width="100px">
                                <Template>
                                    <p style="white-space: pre-wrap; word-wrap: break-word">@context.Value</p>
                                </Template>
                            </Radzen.Blazor.RadzenDataGridColumn>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="SettingHistoryModel" Property="User" Title="User" Width="100px"/>
                        </Columns>
                    </RadzenDataGrid>
                </div>
                <div class="@(Setting.Parent.IsGroup ? "" : "collapse")">
                    <RadzenTabs RenderMode="TabRenderMode.Client">
                        <Tabs>
                            @foreach (var groupManagedSetting in Setting.GroupManagedSettings ?? new List<ISetting>())
                            {
                                <RadzenTabsItem Text="@groupManagedSetting.Parent.DisplayName">
                                    <p>This is the history for @groupManagedSetting.DisplayName listed under @groupManagedSetting.Parent.DisplayName</p>
                                    <RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="3" AllowPaging="true"
                                                    Data="@groupManagedSetting.History" TItem="SettingHistoryModel" ColumnWidth="300px">
                                        <Columns>
                                            <Radzen.Blazor.RadzenDataGridColumn TItem="SettingHistoryModel" Property="DateTime" Title="DateTime" Frozen="true" Width="100px"/>
                                            <Radzen.Blazor.RadzenDataGridColumn TItem="SettingHistoryModel" Property="Value" Title="Value" Frozen="true" Width="100px">
                                                <Template>
                                                    <p style="white-space: pre-wrap; word-wrap: break-word">@context.Value</p>
                                                </Template>
                                            </Radzen.Blazor.RadzenDataGridColumn>
                                            <Radzen.Blazor.RadzenDataGridColumn TItem="SettingHistoryModel" Property="User" Title="User" Width="100px"/>
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                            }
                        </Tabs>
                    </RadzenTabs>
                </div>
            </div>
        </RadzenCard>
    </div>
}