@using Fig.Web.Models.Setting
<RadzenCard class="m-2">

    <div class="d-flex">
        <div class="mr-auto p-2">
            <h2 class="p-1">@Verification.Name</h2>
        </div>

        <div class="px-1 p-1">
            <p>Verifies: </p>
        </div>

        @foreach (var setting in Verification.SettingsVerified)
        {
            <div class="px-1">
                <RadzenBadge BadgeStyle="BadgeStyle.Success" IsPill="true" Text="@setting"/>
            </div>
        }

        <div class="px-1 pr-5 ms-4">
            <RadzenButton Click="@(args => Verification.ShowHistory())" Icon="history" ButtonStyle="ButtonStyle.Light"/>
        </div>

        <div>
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="@Verification.VerificationType" class="position-absolute top-0 end-0 m-2"/>
        </div>
    </div>

    <p class="p-1">@Verification.Description</p>

    <div class="p-1">
        <RadzenButton Click="@(args => Verification.Verify())" Text="Run Verification" Icon="offline_bolt" BusyText="Verifying..."
                      IsBusy="@Verification.IsRunning" ButtonStyle="ButtonStyle.Secondary"/>
    </div>

    <div class="p-1 @(Verification.Succeeded == null ? "collapse" : "")">
        <hr/>
        <p>@Verification.ResultTime</p>
    </div>

    <div class="p-1 @(Verification.Succeeded == true ? "" : "collapse")">
        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Pass" Style="font-size:x-large"/>
    </div>

    <div class="p-1 @(Verification.Succeeded == false ? "" : "collapse")">
        <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Fail" Style="font-size:x-large"/>
    </div>

    <div class="@(Verification.Succeeded == null ? "collapse" : "")">
        <div class="p-1">
            <p>@Verification.ResultMessage</p>
        </div>

        <div class="p-1">
            <RadzenTextArea ReadOnly="true" @bind-Value="@Verification.ResultLog" Style="width: 100%" Rows="4"/>
        </div>
    </div>

    <div class="p-1 @(Verification.IsHistoryVisible ? "" : "collapse")">

        <hr/>
        <h3>History</h3>
        <RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="3" AllowPaging="true"
                        Data="@Verification.History" TItem="VerificationResultModel" ColumnWidth="300px">
            <Columns>
                <RadzenDataGridColumn TItem="VerificationResultModel" Property="ExecutionTime" Title="DateTime" Frozen="true" Width="100px"/>
                <RadzenDataGridColumn TItem="VerificationResultModel" Property="Success" Title="Success" Frozen="true" Width="100px"/>
                <RadzenDataGridColumn TItem="VerificationResultModel" Property="Message" Title="Message" Frozen="true" Width="100px"/>
                <RadzenDataGridColumn TItem="VerificationResultModel" Property="RequestingUser" Title="Requesting User" Width="100px"/>
            </Columns>
        </RadzenDataGrid>
    </div>

</RadzenCard>

@code {

    [Parameter]
    public SettingVerificationModel Verification { get; set; }

}