@using Fig.Web.Models.Setting.ConfigurationModels
<div class="d-flex flex-column w-100">
    <RadzenNumeric TValue="int?" @bind-Value="@Setting.Value" Disabled="@Setting.IsReadOnly"
                   Change="@(args => Setting.ValueChanged(args?.ToString() ?? string.Empty))"
                   @oninput="@(args => Setting.ValueChanged(args?.Value?.ToString() ?? string.Empty))" Class="w-100"/>
    <p class="@(Setting.IsValid ? "collapse" : "")" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>
</div>

@code
{
    [Parameter]
    public IntSettingConfigurationModel Setting { get; set; }
}