@using Fig.Web.Models.Setting.ConfigurationModels
@if (Setting.IsSecret && !Setting.IsReadOnly)
{
    <div class="d-flex flex-column w-100">
        <RadzenPassword @bind-Value=@Setting.Value Disabled="true" Placeholder="Not Set" Class="w-100"/>
        <div class="@(Setting.InSecretEditMode ? "collapse" : "") mt-2">
            <RadzenButton Click=@(args => Setting.InSecretEditMode = true) Text="Update Value" data-test-id="@(EditButtonRef)" ButtonStyle="ButtonStyle.Secondary"/>
        </div>
        <div class="@(!Setting.InSecretEditMode ? "collapse" : "d-flex mt-2 flex-column w-100")">
            <div>
                <PasswordWithRating OnValidPassword="password => Setting.UpdatedValue = password" Placeholder="Enter new value" TestId="@(NewPasswordRef)"/>
                <p class="@(Setting.IsValid ? "collapse" : "")" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>
            </div>

            <RadzenPassword @bind-Value=@Setting.ConfirmUpdatedValue data-test-id="@(ConfirmButtonRef)" Placeholder="Confirm Value" Class="flex-grow-1 mt-2"/>
            <RadzenButton Click=@(args => Setting.SetUpdatedSecretValue()) Text="Apply New Value" data-test-id="@(SaveButtonRef)" ButtonStyle="ButtonStyle.Secondary" class="mt-2 align-self-start"/>
        </div>
    </div>
}
else if (Setting.EditorLineCount != null)
{
    <div class="d-flex flex-column w-100">
        <RadzenTextArea Name="textValue" @bind-Value=@Setting.Value Disabled="@Setting.IsReadOnly"
                        @oninput=@(args => Setting.ValueChanged(args.Value.ToString()))
                        Class="w-100" data-test-id="@Setting.Name" Rows="@Setting.EditorLineCount.Value"/>
        <p class="@(Setting.IsValid ? "collapse" : "")" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>
    </div>
}
else
{
    <div class="d-flex flex-column w-100">
        <RadzenTextBox Name="textValue" @bind-Value=@Setting.Value Disabled="@Setting.IsReadOnly"
                       @oninput=@(args => Setting.ValueChanged(args.Value.ToString()))
                       Class="w-100" data-test-id="@Setting.Name"/>
        <p class="@(Setting.IsValid ? "collapse" : "")" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>
    </div>
}

@code
{
    private string EditButtonRef => $"{Setting.Name}_edit";
    private string ConfirmButtonRef => $"{Setting.Name}_confirm";
    private string SaveButtonRef => $"{Setting.Name}_save";
    private string NewPasswordRef => $"{Setting.Name}_newpass";

    [Parameter]
    public StringSettingConfigurationModel Setting { get; set; }
}