@using Fig.Web.Models.Setting.ConfigurationModels
@if (Setting.IsSecret && !Setting.IsReadOnly)
{
    <div class="p-1">
        <RadzenPassword @bind-Value=@Setting.Value Disabled="true" Placeholder="Not Set" Class="w-100"/>
    </div>
    <div class="@(Setting.InSecretEditMode ? "collapse" : "") p-1">
        <RadzenButton Click=@(args => Setting.InSecretEditMode = true) Text="Update Value" ButtonStyle="ButtonStyle.Secondary"/>
    </div>
    <div class="@(!Setting.InSecretEditMode ? "collapse" : "")">
        <div class="p-1">
            <RadzenPassword @bind-Value=@Setting.UpdatedValue Placeholder="Enter new value" Class="w-100 p-1"/>
            <p class="@(Setting.IsValid ? "collapse" : "")" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>
        </div>
        <div class="p-1">
            <RadzenPassword @bind-Value=@Setting.ConfirmUpdatedValue Placeholder="Confirm Value" Class="w-100 p-1"/>
        </div>
        <div class="p-1">
            <RadzenButton Click=@(args => Setting.SetUpdatedSecretValue()) Text="Apply New Value" class="p-1" ButtonStyle="ButtonStyle.Secondary"/>
        </div>
    </div>
}
else if (Setting.EditorLineCount != null)
{
    <div class="p-1">
        <RadzenTextArea Name="textValue" @bind-Value=@Setting.Value Disabled="@Setting.IsReadOnly"
                       @oninput=@(args => Setting.ValueChanged(args.Value.ToString()))
                       Class="w-100" Rows="@Setting.EditorLineCount.Value"/>
        <p class="@(Setting.IsValid ? "collapse" : "")" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>
    </div>
}
else
{
    <div class="p-1">
        <RadzenTextBox Name="textValue" @bind-Value=@Setting.Value Disabled="@Setting.IsReadOnly"
                       @oninput=@(args => Setting.ValueChanged(args.Value.ToString()))
                       Class="w-100"/>
        <p class="@(Setting.IsValid ? "collapse" : "")" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>
    </div>
}

@code
{
    [Parameter]
    public StringSettingConfigurationModel Setting { get; set; }
}