<div>
    @switch (Facade.IsConnected)
    {
        case true when !Facade.AreSettingsStale:
            <div>
                <RadzenBadge BadgeStyle="@BadgeStyle.Success" IsPill="true" Text="Online" MouseEnter="@BuildTooltip" />
            </div>
            break;
        case true:
            <RadzenBadge BadgeStyle="@BadgeStyle.Warning" IsPill="true" Text="Out of Date" MouseEnter="@BuildTooltip" />
            break;
        default:
            <div>
                <RadzenBadge BadgeStyle="@BadgeStyle.Danger" IsPill="true" Text="Offline" MouseEnter="@BuildTooltip" />
            </div>
            break;
    }

</div>