<div>
    @switch (Facade.IsConnected, Facade.AreSettingsStale, ShowStaleStatus)
    {
        case (true, false, _):
            <div>
                <RadzenBadge BadgeStyle="@BadgeStyle.Success" IsPill="true" Text="Online" MouseEnter="@BuildTooltip" />
            </div>
            break;
        case (true, true, true):
            <RadzenBadge BadgeStyle="@BadgeStyle.Warning" IsPill="true" Text="Out of Date" MouseEnter="@BuildTooltip" />
            break;
        case (true, true, false):
            <div>
                <RadzenBadge BadgeStyle="@BadgeStyle.Success" IsPill="true" Text="Online" MouseEnter="@BuildTooltip" />
            </div>
            break;
        default:
            <div>
                <RadzenBadge BadgeStyle="@BadgeStyle.Danger" IsPill="true" Text="Offline" MouseEnter="@BuildTooltip" />
            </div>
            break;
    }

</div>