@page "/Events"
@using Fig.Web.Models.Events

<div class="col px-3">
    <div class="d-flex flex-row p-2">
        <div class="d-flex align-items-center px-2">
            <p class="mb-0">Start Date:</p>
        </div>
        <div class="px-2">
            <RadzenDatePicker @bind-Value="@StartTime" DateRender="@DateRender" ShowTime="true" ShowSeconds="true" Class="w-100"/>
        </div>

        <div class="d-flex align-items-center px-2">
            <p class="mb-0">End Date:</p>
        </div>
        <div class="px-2">
            <RadzenDatePicker @bind-Value="@EndTime" DateRender="@DateRender" ShowTime="true" ShowSeconds="true" Class="w-100"/>
        </div>

        <div class="px-2">
            <RadzenButton Click="@(args => OnRefresh())" Disabled="@IsRefreshDisabled" Text="Refresh" Icon="autorenew" BusyText="Fetching Results...." IsBusy="@_isRefreshInProgress" ButtonStyle="ButtonStyle.Secondary"/>
        </div>

        <div class="px-2">
            <RadzenButton Click="@(args => ExportEvents())" Text="Export CSV" Icon="file_download" ButtonStyle="ButtonStyle.Primary"/>
        </div>

    </div>
    <div class="d-flex flex-row px-3">
        <RadzenDataGrid @ref="_eventLogGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.SimpleWithMenu" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@EventLogs" TItem="EventLogModel" AllowColumnPicking="true">
            <Columns>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Width="150px" Property="Timestamp" Filterable="true" Title="Timestamp" TextAlign="TextAlign.Left" SortOrder="SortOrder.Descending"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Width="120px" Property="ClientName" Filterable="true" Title="ClientName" TextAlign="TextAlign.Left"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Property="Instance" Filterable="true" Visible="false" Title="Instance" TextAlign="TextAlign.Left"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Width="130px" Property="EventType" Filterable="true" Title="EventType" TextAlign="TextAlign.Left"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Property="Message" Filterable="true" Title="Message" TextAlign="TextAlign.Left"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Property="SettingName" Filterable="true" Title="SettingName" TextAlign="TextAlign.Left"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Property="OriginalValue" Filterable="true" Title="OriginalValue" TextAlign="TextAlign.Left">
                    <Template>
                        <p style="white-space: pre-wrap; word-wrap: break-word">@context.OriginalValue</p>
                    </Template>
                </Radzen.Blazor.RadzenDataGridColumn>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Property="NewValue" Filterable="true" Title="NewValue" TextAlign="TextAlign.Left">
                    <Template>
                        <p style="white-space: pre-wrap; word-wrap: break-word">@context.NewValue</p>
                    </Template>
                    </Radzen.Blazor.RadzenDataGridColumn>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Property="AuthenticatedUser" Filterable="true" Title="User" TextAlign="TextAlign.Left"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Width="80px" Property="IpAddress" Visible="false" Filterable="true" Title="IpAddress" TextAlign="TextAlign.Left"/>
                <Radzen.Blazor.RadzenDataGridColumn TItem="EventLogModel" Property="Hostname" Filterable="true" Title="Hostname" Visible="false" TextAlign="TextAlign.Left"/>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>