@page "/Insights"
@using Fig.Web.Models.Clients

<div>
    <div class="d-flex flex-row p-2">
        <RadzenCard Style="width: 100%" class="p-2">
            <RadzenChart Style="width: 100%">

                @foreach (var session in ClientStatusFacade.ClientRunSessions)
                {
                    <RadzenLineSeries Hidden="@session.HideMemoryUsageOnChart" Smooth="true" Data="@session.HistoricalMemoryUsage" CategoryProperty="ClientRunTimeSeconds" Title="@($"{session.Name} ({session.Hostname})")" ValueProperty="MemoryUsageMegaBytes" RenderingOrder="1">
                        <RadzenSeriesTrendLine Visible="@_showTrendline" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed"/>
                    </RadzenLineSeries>
                }

                <RadzenCategoryAxis Padding="20">
                    <RadzenAxisTitle Text="Runtime Seconds"/>
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true"/>
                    <RadzenAxisTitle Text="Memory Usage (MB)"/>
                </RadzenValueAxis>
            </RadzenChart>

            <div class="d-flex flex-row p-2">
                <RadzenCard class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem">
                    <RadzenCheckBox @bind-Value="@_showTrendline" Name="trend"></RadzenCheckBox>
                    <RadzenLabel Text="Show Trendline" For="trend" Style="margin-right: 1rem;" class="rz-color-danger-dark"/>
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Show All" Click="ShowAllSessionsMemory"/>
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Hide All" Click="HideAllSessionsMemory"/>
                </RadzenCard>
            </div>
        </RadzenCard>
    </div>
    <div class="d-flex flex-row p-2">
        <RadzenCard Style="width: 100%" class="p-2">
            <RadzenDataGrid @ref="_possibleMemoryLeaksGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                    Data="@ClientStatusFacade.PossibleMemoryLeaks" TItem="MemoryUsageAnalysisModel" LogicalFilterOperator="LogicalFilterOperator.Or" AllowColumnPicking="true">
                        <Columns>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="ClientName" Filterable="true" Title="Name" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="Hostname" Filterable="true" Title="Hostname" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="TimeOfAnalysisLocal" Filterable="true" Title="Detected" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="TrendLineSlope" Filterable="true" Title="Slope" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="Average" Filterable="true" Title="Average Memory" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="StandardDeviation" Filterable="true" Title="Std Dev" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="StartingAverage" Filterable="true" Title="Starting Avg" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="EndingAverage" Filterable="true" Title="Ending Avg" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="SecondsAnalyzed" Filterable="true" Title="Seconds Analyzed" TextAlign="TextAlign.Left"/>
                            <Radzen.Blazor.RadzenDataGridColumn TItem="MemoryUsageAnalysisModel" Property="DataPointsAnalyzed" Filterable="true" Title="Data Points" TextAlign="TextAlign.Left"/>
                        </Columns>
                    </RadzenDataGrid>
        </RadzenCard>
    </div>
</div>

@code {


}