@page "/account/manage"
@using Fig.Web.Models.Authentication
@using Fig.Web.Attributes
@attribute [Manage]

<style>
    form .row {
        margin-bottom: 16px;
    }
    
    .icons-preview .rzi {
            margin: 1rem;
        }
</style>

<h3>Manage Account</h3>

<RadzenTemplateForm Data="@AccountService.AuthenticatedUser" Submit="@(async (AuthenticatedUserModel args) => { await Submit(args); })">
    <div class="row">
        <div class="col-md-6">
            <RadzenFieldset>
                <div class="row @(AccountService.AuthenticatedUser?.PasswordChangeRequired == true ? "collapse" : "")">
                    <div class="row">
                        <div class="col-md-4 align-items-end d-flex">
                            <RadzenLabel Text="Username" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value="AccountService.AuthenticatedUser!.Username" style="width: 100%;" Name="Username" ReadOnly="@IsKeycloakMode" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-end d-flex">
                            <RadzenLabel Text="First Name" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value="AccountService.AuthenticatedUser!.FirstName" style="width: 100%;" Name="FirstName" ReadOnly="@IsKeycloakMode" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-end d-flex">
                            <RadzenLabel Text="Last Name" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value="AccountService.AuthenticatedUser!.LastName" style="width: 100%;" Name="LastName" ReadOnly="@IsKeycloakMode" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-end d-flex">
                            <RadzenLabel Text="Allowed Classifications" />
                        </div>
                        <div class="col-md-8">
                            @foreach (var classification in AllClassifications ?? [])
                            {
                                <div style="display: block; margin-bottom: 5px;">
                                    <RadzenCheckBox TValue="bool"
                                                    Value="@(AccountService.AuthenticatedUser!.AllowedClassifications.Contains(classification) == true)" 
                                                    ReadOnly="true" Disabled="true"/> @classification
                                </div>
                            }
                        </div>
                    </div>
                    @if (!IsKeycloakMode)
                    {
                        <div class="row">
                            <div class="col-md-6 align-items-end d-flex">
                                <RadzenButton Text="Update Password" Click="ShowPasswordRow"></RadzenButton>
                            </div>
                        </div>
                    }
                    else if (!string.IsNullOrWhiteSpace(AccountManagementUrl))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <p>Account details are managed in Keycloak.</p>
                                <RadzenButton Text="Manage Account in Keycloak" Click="OpenKeycloakAccountManagement" ButtonType="ButtonType.Button" Icon="open_in_new" />
                            </div>
                        </div>
                    }
                </div>
                
                <div class="row @(AccountService.AuthenticatedUser!.PasswordChangeRequired ? "" : "collapse")">
                    <p style="color: orange">PASSWORD CHANGE REQUIRED</p>
                </div>
                <div class="row @(_showPasswordRow && !IsKeycloakMode ? "" : "collapse")">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="New Password" />
                    </div>
                    <div class="col-md-7">
                        <PasswordWithRating OnValidPassword="password => OnValidPassword(password)" OnInvalidPassword="_ => OnInvalidPassword()" MinimumScore="3"/>
                    </div>
                    <div class="col-md-1">
                        @if (_passwordValid)
                        {
                            <RadzenIcon Icon="check_circle" Style="color: green" />
                        }
                        else
                        {
                            <RadzenIcon Icon="highlight_off" Style="color: red" />
                        }
                    </div>
                </div>
                @if (!IsKeycloakMode)
                {
                    <div class="col-md-12 d-flex align-items-end justify-content-end" style="margin-top: 16px;">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                    </div>
                }
                
            </RadzenFieldset>
        </div>
    </div>
</RadzenTemplateForm>