@page "/Utils"
@using System.Runtime.InteropServices

<div class="p-5">
    <RadzenCard Visible="@RuntimeInformation.IsOSPlatform(OSPlatform.Windows)">
        <RadzenCardHeader>
            <h3>Data Protection API (DPAPI) for Client Secrets</h3>
        </RadzenCardHeader>
        <RadzenCardContent>
            <div class="row p-1">
                <p>Fig uses the data protection api on windows for client secrets.</p>
                <p>You must generate this:</p>
                <P>1. On the computer where the application will run</p>
                <p>2. Running as the user that the application will run as.</p>
                <p>Otherwise it will not be possible for the application to decrypt the secret.</p>
                <p>The encrypted value should be stored in an environment variable called "FIG_[CLIENT NAME]_SECRET</p>
            </div>
            <div class="row">
                <div class="col-md-9 p-1">
                    <RadzenTextBox Style="width: 100%" @bind-Value="@PlainText"
                                   @oninput=@(args => OnPlainTextChanged(args?.Value?.ToString()))
                                   Placeholder="Plain Text Secret"/>
                </div>
                <div class="col-md-3 p-1">
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Generate" Click="@GenerateSecret"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 p-1">
                    <RadzenTextArea Style="width: 100%" Name="textValue" @bind-Value="@EncryptedText"
                                    @oninput=@(args => OnEncryptedTextChanged(args?.Value?.ToString()))
                                    Rows="3" Placeholder="Encrypted Secret"/>
                </div>
                <div class="col-md-3 p-1">
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Copy" Click="@CopyEncryptedText"/>
                </div>
            </div>

        </RadzenCardContent>
    </RadzenCard>
    <RadzenCard Visible="@(!RuntimeInformation.IsOSPlatform(OSPlatform.Windows))">
        <RadzenCardHeader>
            <h3>Utils are Windows Only.</h3>
        </RadzenCardHeader>
    </RadzenCard>
</div>