@inject NavigationManager NavigationManager;

@using Sentry
<div class="container p-3">

    <div class="row p-3">
        <RadzenFormField Text="Name" Style="width: 100%;">
            <RadzenTextBox @oninput="@(args => Name = args.Value?.ToString() ?? string.Empty)" Style="width: 100%;"/>
        </RadzenFormField>
    </div>
    <div class="row p-3">
        <RadzenFormField Text="Email" Style="width: 100%;">
            <RadzenTextBox @oninput="@(args => Email = args.Value?.ToString() ?? string.Empty)" Style="width: 100%;"/>
        </RadzenFormField>
    </div>
    <div class="row p-3">
        <p>@Prompt</p>
    </div>
    <div class="row p-3">
        <RadzenFormField Text="Message" Style="width: 100%;">
            <RadzenTextArea @oninput="@(args => Message = args.Value?.ToString() ?? string.Empty)" Style="width: 100%;" Rows="6"/>
        </RadzenFormField>
    </div>
    <div class="row p-3">
        <RadzenButton Text="Submit" Click="OnSubmit" Disabled="@IsSubmitDisabled"></RadzenButton>
    </div>
    <div class="row p-3">
        <p style="color: green">@ThanksMessage</p>
    </div>
    <div class="col-3"></div>
</div>

@code {
        private const string ThanksTemplate = "Thanks for your feedback!";

    [Parameter]
    public Exception? Exception { get; set; }

    [Parameter]
    public string? Prompt { get; set; }

    private string Name { get; set; } = string.Empty;

    private string Email { get; set; } = string.Empty;

    private string Message { get; set; } = string.Empty;

    private string ThanksMessage { get; set; } = string.Empty;

    private bool IsSubmitDisabled => string.IsNullOrWhiteSpace(Name) || string.IsNullOrWhiteSpace(Message) || string.IsNullOrWhiteSpace(Email);

    private void OnSubmit()
    {
        var id = Exception is not null ?
            SentrySdk.CaptureException(Exception) :
            SentrySdk.CaptureMessage($"User Feedback on page {NavigationManager.Uri}");

        SentrySdk.CaptureUserFeedback(id, Email, Message, Name);
        ClearForm();
        ThanksMessage = ThanksTemplate;
    }

    private void ClearForm()
    {
        Name = string.Empty;
        Message = string.Empty;
        Email = string.Empty;
    }

}